* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

p:nth-of-type(3) {
    color: yellow;
}

h1 {
    font-size: 3rem;
}

#sub-header {
    text-transform: uppercase;
}

.text-green {
    background-color: lightgreen;
}

.border-blue {
    border: 2px solid lightblue;
}

section img {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}


img + ul {
    list-style-type: none;
}
section > ul > li {
    letter-spacing: 10px;
}

section p {
   text-align: center;
   color: black;
}